*.gz
*.la
*.la
*.lo
*.log
*.o
*.plist
*.scan
*.sdf
*.status
*.tar.*
*.zip
*~
.deps
.dirstamp
.done
.libs
/bin/
/lib/
/obj/
Build
INSTALL
INSTALL
missing
Makefile
Makefile
Makefile.in
Makefile.in
aclocal.m4
autom4te.cache/
build
compile
confdefs.h
config.h*
config.log
config.status
config.guess
config.sub
config/
configure
depcomp
install-sh
libtool
ltmain.sh
doc/Makefile
doc/Makefile.in
src/*.lo
src/*.o
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
