INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config.h.in*
ltmain.sh
config/
configure
doc/Makefile
doc/Makefile.in
libtool
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/.libs/
src/*.lo
*.gz
*.zip
*.la
/bin/
/obj/
/lib/
